.mainTitle {
  color: white;
}
.mainSearchBar {
  width: 100%;
}
.mainSearchBar button {
  background-color: 	#F77F00 !important;
}
.plus-btn-icon, .minus-btn-icon {
  margin: 0 !important;
  color: black;
}
.groupName {
  background-color: rgba(27, 28, 29, 0.78) !important;
  color: white !important;
}
